body{
  background-color: #E6E6FA;
  font-family: "Verdana", Geneva, sans-serif;
}

h3{
  text-align: center;
}

#dropdownMenu1{
  background: linear-gradient(to bottom right, #D8BFD8, #F5F5F5);
  color: black;
  border: 2px solid #FF1493;
  box-shadow: 5px 5px 2px #888888;
}

#dropDiv{
  float: left;
  margin-left: 5px;
}

#schedule{
  margin-top: 50px;
}
