body{
  background-color: #E6E6FA;
  font-family: "Verdana", Geneva, sans-serif;
}

h3{
  text-align: center;
}

img{
  width: 100%;
  height: 200px;
}

#dropdownMenu1{
  background: linear-gradient(to bottom right, #4D94FF, #F5F5F5);
  color: black;
  border: 2px solid #00008B;
  box-shadow: 5px 5px 2px #888888;
}

#dropDiv{
  float: left;
  margin-left: 5px;
}

#schedule{
  margin-top: 50px;
}

#chooseDuration{
  margin-top: 10px;
}
